:root{
	--mainColor:#C6FFAB;
	--secondaryColor:#E3FFC7;

	--borderColor:#a0b892;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#FFF;

	--previewBg:rgba(225, 255, 195, 0.8);
	--previewShadow:#C6FFAB;


	--buttonColor:#A8FF8F;


}
